<div *ngIf="regalos | async as gifts" >
  <div>
    <div>
      <h2 class="flex flex-col place-content-center place-items-center  justify-items-center self-auto justify-center items-center self-center text-3xl font-bold ">Lista de Regalos</h2>
      
      <!-- <audio src="/navidad.mp3" type="audio/mp3"></audio>
        <button (click)="playSong()">🎚️Play
      </button> -->
    </div>
    <div class="flex flex-col place-content-center place-items-center  justify-items-center self-auto justify-center items-center self-center text-3xl font-bold p-8" *ngIf="gifts.length === 0">
      <p aria-describedby="no_gift_presents" class="h-4 w-120  inline-block text-lg font-medium text-gray-900 text-center "> No hay 🎁🎁🎁 <br /> Intenta agregando uno</p>
    </div>
    <section class="antialiased text-gray-600  px-4 w-full h-full" >
      <div class="flex flex-col justify-center w-full h-full">
        <!-- Table -->
        <div class="w-full h-full max-w-2xl mx-auto  ">
          <div class="p-2s">
            <div class="overflow-x-auto">
              <table class="table-auto w-full" > 
                <tbody class="text-md divide-y divide-gray-100" *ngFor="let regalo of gifts;">
                  <tr>
                    <td class="p-3 whitespace-nowrap">
                        <div class="flex items-center">
                            <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
                              <img class="rounded-full" src="{{regalo.img}}" width="100" height="80" alt="Regalo">
                            </div>
                            <div class="font-medium text-md text-gray-800">{{regalo.name}}  x ({{regalo.cantidad}})<br> 
                              <a class="text-xs font-md text-gray-900 align-top my-2">{{regalo.user}}</a>
                            </div>
                        </div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left font-medium">{{regalo.precio * regalo.cantidad}} AR$</div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="flex items-center justify-between text-lg text-center">
                          <button tabindex="0" aria-describedby="button_delete_this_gift" class="w-12 h-6  rounded-full bg-gray-100 text-white font-medium text-xs leading-tight uppercase  shadow-xs hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out" (click)="onRemoveRegalo(regalo)"> 🗑️ </button>
                          <button tabindex="0" aria-describedby="button_edit_this_gift" class="w-12 h-6  rounded-full bg-gray-100 text-white font-medium text-xs leading-tight uppercase  shadow-xs hover:bg-red-700  focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-lg transition duration-150 ease-in-out" (click)="onEditRegalo(regalo)" (click)="showModalEditar = true"> ✏️ </button>
                          <button tabindex="0" aria-describedby="button_edit_this_gift" class="w-12 h-6  rounded-full bg-gray-100 text-white font-medium text-xs leading-tight uppercase  shadow-xs hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out" (click)="onDuplicateRegalo(regalo)" (click)="showModalDuplicar = true"> 📝 </button>
                        </div>
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>    
        </div>
        </div>
    </section>
    
    <!-- Botones principales  -->
    <div class="flex items-center justify-center p-3">
      <button tabindex="0" aria-describedby="button_add_gift" class="inline-block w-56 h-12 rounded-full bg-green-700 text-white cursor-pointer font-medium text-md leading-tight  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out mx-2" (click)="showModal = true"> Agregar Regalo</button>
      <button tabindex="0" aria-describedby="button_delete_all_gifts" class="inline-block w-56 h-12 rounded-full bg-green-700 text-white cursor-pointer font-medium text-md leading-tight  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out mx-2" (click)="onRemoveTodos()"> Eliminar Todos los 🎁?</button>
    </div>

    <div class="flex flex-col place-content-center place-items-center  justify-items-center self-auto justify-center items-center self-center">
      <div>
        <h6 class="text-2xl text-center ">Total:</h6>
        <h4 class="text-black text-3xl font-bold text-left">{{precioTotalRegalos | currency}} </h4>
      </div>
    </div>

    <div class="flex flex-col place-content-center place-items-center  justify-items-center self-auto justify-center items-center self-center">
      <div class="mt-2">
        <button type="button" class="mb-2 w-fullinline-block px-6 py-2.5 inline-block w-56 h-12 rounded-full bg-green-700 text-white cursor-pointer font-medium text-md leading-tight  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out mx-2" (click)="showModalLista = true">Previsualizar Lista</button>
      </div>
    </div>
    












    <!-- Modal Agregar -->
    <div *ngIf="showModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="655.359" height="655.359" 
                  style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd" viewBox="0 0 6.827 6.827"><defs><style>.fil0{fill:#212121;fill-rule:nonzero}</style></defs><g id="Layer_x0020_1"><path class="fil0" d="M.96 2h5.013v1.05H.853V2H.96zm4.8.213H1.067v.624H5.76v-.624z"/><path class="fil0" d="M1.306 2.837H5.627V5.79H1.2V2.837h.106zm4.108.213h-4v2.525h4V3.05z"/><path class="fil0" d="M3.52 2.944v2.738h-.213V2.944z"/><path class="fil0" d="M1.306 4.206H5.52v.213H1.306zM3.307 2.944v-.838h.213v.838z"/><path class="fil0" d="M3.307 2.105c.006-.561.213-.864.443-.992a.537.537 0 0 1 .524-.012c.154.089.233.258.147.46-.087.203-.369.444-.974.646l-.141.047.001-.149zm.546-.806c-.153.085-.292.285-.326.654.435-.164.638-.335.698-.476.037-.085.005-.156-.058-.192-.079-.046-.2-.05-.314.014z"/><path class="fil0" d="M3.3 1.953c-.034-.369-.173-.569-.326-.654-.115-.063-.236-.06-.315-.014-.062.036-.094.107-.057.192.06.14.263.312.698.476zm-.223-.84c.23.128.437.431.443.992l.001.149-.141-.047c-.606-.202-.887-.443-.974-.647-.086-.201-.007-.37.147-.46.137-.08.339-.089.524.013z"/></g><path style="fill:none" d="M0 0h6.827v6.827H0z"/></svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  
                  <div class="mt-2">
                    <form [formGroup]="regaloForm" (ngSubmit)="onAddRegalo()">
                      <div class="flex flex-col justify-center p-7">
                        <label for="name" class="mb-3 block text-base font-medium text-red-800"> Que regalo es? </label>
                        <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="name" type="text"  formControlName="name" placeholder="Traeme la copa Messi" required #nameInput>
                        
                        <label for="precio" class="mb-3 block text-base font-medium text-green-800"> Cuanto vale? </label>
                        <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="precio" type="number"  formControlName="precio" placeholder="1" required >
                        
                        <label for="user" class="mb-3 block text-base font-medium text-red-800"> Para quien es? </label>
                        <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="user" type="text"  formControlName="user" placeholder="Mami" required>
                        
                        <label for="img" class="mb-3 block text-base font-medium text-green-800"> Una imagen del Regalo? </label>
                        <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="img" type="text" formControlName="img"  placeholder="Link de la imagen" required>
                        
                        <label for="cantidad" class="mb-3 block text-base font-medium text-red-800"> Cuantos? </label>
                        <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" type="number" id="cantidad"  formControlName="cantidad"  placeholder="1" >
                      </div>
                      <div aria-describedby="button_add_this_form_gift_with_enter" class="px-6 py-3 sm:flex sm:flex-row-reverse sm:px-5">
                        <button tabindex="0" aria-describedby="button_random_gift" type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:mr-2 sm:text-sm" (click)="nameInput.value = givemeRandomGift() " >🎁 Random</button>
                        <button tabindex="0" type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-700 px-4 mt-3 py-2 text-base font-medium text-white  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out sm:mt-px sm:ml-2 sm:w-auto sm:text-sm" type="submit" [disabled]="!regaloForm.valid" >Agregar 🎁</button>
                        <button tabindex="0" aria-describedby="button_cancel_add_gift" type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2 sm:mt-0 sm:ml-2  sm:w-auto sm:text-sm" (click)="showModal = false" >Cancel</button>
                      </div>
                    </form>                            
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- Modal Editar  -->
<div *ngIf="showModalEditar" class="relative z-10" aria-labelledby="modal-title-edit" role="dialog" aria-modal="true">
<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

<div class="fixed inset-0 z-10 overflow-y-auto">
<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

<div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
<div class="sm:flex sm:items-start">
  <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="655.359" height="655.359" 
    style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd" viewBox="0 0 6.827 6.827"><defs><style>.fil0{fill:#212121;fill-rule:nonzero}</style></defs><g id="Layer_x0020_1"><path class="fil0" d="M.96 2h5.013v1.05H.853V2H.96zm4.8.213H1.067v.624H5.76v-.624z"/><path class="fil0" d="M1.306 2.837H5.627V5.79H1.2V2.837h.106zm4.108.213h-4v2.525h4V3.05z"/><path class="fil0" d="M3.52 2.944v2.738h-.213V2.944z"/><path class="fil0" d="M1.306 4.206H5.52v.213H1.306zM3.307 2.944v-.838h.213v.838z"/><path class="fil0" d="M3.307 2.105c.006-.561.213-.864.443-.992a.537.537 0 0 1 .524-.012c.154.089.233.258.147.46-.087.203-.369.444-.974.646l-.141.047.001-.149zm.546-.806c-.153.085-.292.285-.326.654.435-.164.638-.335.698-.476.037-.085.005-.156-.058-.192-.079-.046-.2-.05-.314.014z"/><path class="fil0" d="M3.3 1.953c-.034-.369-.173-.569-.326-.654-.115-.063-.236-.06-.315-.014-.062.036-.094.107-.057.192.06.14.263.312.698.476zm-.223-.84c.23.128.437.431.443.992l.001.149-.141-.047c-.606-.202-.887-.443-.974-.647-.086-.201-.007-.37.147-.46.137-.08.339-.089.524.013z"/></g><path style="fill:none" d="M0 0h6.827v6.827H0z"/></svg>
  </div>
  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
    
    <div class="mt-2">
      <form [formGroup]="regaloForm" (ngSubmit)="onEditRegalo(this.regaloForm.value!)" >
        <div class="flex flex-col justify-center p-8">
          <label for="name" class="mb-3 block text-base font-medium text-red-800"> Que regalo es? </label>
          <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="name" type="text" formControlName="name" (ngModel)="this.regaloForm.value.name" placeholder="Traeme la copa Messi" required>
          
          <label for="precio" class="mb-3 block text-base font-medium text-red-800"> Cuanto vale? </label>
          <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="precio" type="number" formControlName="precio" (ngModel)="this.regaloForm.value.precio" placeholder="1" required >
          
          <label for="user" class="mb-3 block text-base font-medium text-green-800"> Para quien es? </label>
          <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="user" type="text" formControlName="user" (ngModel)="this.regaloForm.value.user" placeholder="Mami" required>
          
          <label for="img" class="mb-3 block text-base font-medium text-red-800"> Una imagen del Regalo? </label>
          <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="img" type="text" formControlName="img" (ngModel)="this.regaloForm.value.img" placeholder="Link de la imagen" required>
          
          <label for="cantidad" class="mb-3 block text-base font-medium text-green-800"> Cuantos? </label>
          <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" type="number" id="cantidad" formControlName="cantidad" (ngModel)="this.regaloForm.value.cantidad"  placeholder="1" >
        </div>
        <div aria-describedby="button_add_this_form_gift_with_enter" class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button tabindex="0" aria-describedby="button_cancel_add_gift" type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" (click)="showModalEditar = false" >Cancel</button>
          <button tabindex="0" type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-700 px-4 py-2 text-base font-medium text-white  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out sm:ml-3 sm:w-auto sm:text-sm" type="submit" [disabled]="!regaloForm.valid" >Update 🎁</button>
        </div>
      </form>                            
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Modal Duplicar  -->
<div *ngIf="showModalDuplicar" class="relative z-10" aria-labelledby="modal-title-edit" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
  <div class="fixed inset-0 z-10 overflow-y-auto">
  <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
  
  <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
  <div class="sm:flex sm:items-start">
    <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="655.359" height="655.359" 
      style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd" viewBox="0 0 6.827 6.827"><defs><style>.fil0{fill:#212121;fill-rule:nonzero}</style></defs><g id="Layer_x0020_1"><path class="fil0" d="M.96 2h5.013v1.05H.853V2H.96zm4.8.213H1.067v.624H5.76v-.624z"/><path class="fil0" d="M1.306 2.837H5.627V5.79H1.2V2.837h.106zm4.108.213h-4v2.525h4V3.05z"/><path class="fil0" d="M3.52 2.944v2.738h-.213V2.944z"/><path class="fil0" d="M1.306 4.206H5.52v.213H1.306zM3.307 2.944v-.838h.213v.838z"/><path class="fil0" d="M3.307 2.105c.006-.561.213-.864.443-.992a.537.537 0 0 1 .524-.012c.154.089.233.258.147.46-.087.203-.369.444-.974.646l-.141.047.001-.149zm.546-.806c-.153.085-.292.285-.326.654.435-.164.638-.335.698-.476.037-.085.005-.156-.058-.192-.079-.046-.2-.05-.314.014z"/><path class="fil0" d="M3.3 1.953c-.034-.369-.173-.569-.326-.654-.115-.063-.236-.06-.315-.014-.062.036-.094.107-.057.192.06.14.263.312.698.476zm-.223-.84c.23.128.437.431.443.992l.001.149-.141-.047c-.606-.202-.887-.443-.974-.647-.086-.201-.007-.37.147-.46.137-.08.339-.089.524.013z"/></g><path style="fill:none" d="M0 0h6.827v6.827H0z"/></svg>
    </div>
    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
      
      <div class="mt-2">
        <form [formGroup]="regaloForm" (ngSubmit)="onDuplicateRegalo(this.regaloForm.value!)" >
          <div class="flex flex-col justify-center p-8">
            <label for="name" class="mb-3 block text-base font-medium text-red-800"> Que regalo es? </label>
            <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="name" type="text" formControlName="name" (ngModel)="this.regaloForm.value.name" placeholder="Traeme la copa Messi" required>
            
            <label for="precio" class="mb-3 block text-base font-medium text-red-800"> Cuanto vale? </label>
            <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="precio" type="number" formControlName="precio" (ngModel)="this.regaloForm.value.precio" placeholder="1" required >
            
            <label for="user" class="mb-3 block text-base font-medium text-green-800"> Para quien es? </label>
            <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="user" type="text" formControlName="user"  placeholder="Mami" required>
            
            <label for="img" class="mb-3 block text-base font-medium text-red-800"> Una imagen del Regalo? </label>
            <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" id="img" type="text" formControlName="img" (ngModel)="this.regaloForm.value.img" placeholder="Link de la imagen" required>
            
            <label for="cantidad" class="mb-3 block text-base font-medium text-green-800"> Cuantos? </label>
            <input class="form-control w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-700 focus:shadow-md" type="number" id="cantidad" formControlName="cantidad" (ngModel)="this.regaloForm.value.cantidad"  placeholder="1" >
          </div>
          <div aria-describedby="button_add_this_form_gift_with_enter" class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button tabindex="0" aria-describedby="button_cancel_add_gift" type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" (click)="showModalDuplicar = false" >Cancel</button>
            <button tabindex="0" type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-700 px-4 py-2 text-base font-medium text-white  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out sm:ml-3 sm:w-auto sm:text-sm" type="submit" [disabled]="!regaloForm.valid" >Duplicar 🎁</button>
          </div>
        </form>                            
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>



  <!-- Modal Mostrar  -->
<div *ngIf="showModalLista" class="relative z-10" aria-labelledby="modal-title-edit" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
  <div class="fixed inset-0 z-10 overflow-y-auto">
  <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
    
    <div class="flex flex-col space-y-4 min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-gray-700 ">
      <div class="flex flex-col p-8 bg-white shadow-md hover:shodow-lg rounded-2xl "  >
        <div class="flex items-center justify-center " >
          <div class="flex items-center" >
            <div class="grid grid-col-2 gap-2 ml-3 sm:grid-col-2" *ngFor="let regalo of gifts;">
              <div class="flex flex-col h-full">
                <img src="{{regalo.img}}" class="w-full h-48 object-cover" loading="lazy" alt="">
              </div>
              <div class="flex flex-col px-4 py-2">
                <div class="font-medium leading-none">{{regalo.name}}</div>
                <div class="font-small text-xs leading-none">{{regalo.user}}</div>
                <p class="text-sm text-gray-600 leading-none mt-1">({{regalo.cantidad}})
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center p-3">
          <button tabindex="0" aria-describedby="button_cancel_modal_list" class="inline-block w-56 h-12 rounded-full bg-green-700 text-white cursor-pointer font-medium text-md leading-tight  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out mx-2" (click)="showModalLista = false">Cancelar</button>
          <button tabindex="0" aria-describedby="button_print_all_gifts" class="inline-block w-56 h-12 rounded-full bg-green-700 text-white cursor-pointer font-medium text-md leading-tight  shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out mx-2" (click)="printPantalla()">Imprimir</button>
        </div>
    </div>
    </div>
  </div>
  </div>

  </div>
  </div>
  </div>