<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-12 bg-gradient-to-r from-blue-200 to-cyan-200">
  <div class="relative bg-white px-6 pt-10 pb-9 shadow-xl mx-auto w-full max-w-xl rounded-2xl ">
    <app-main></app-main>
  </div>
</div>
